html,
body {
  height: 100%;
}
.bg-primary {
    background: linear-gradient(to bottom, rgba(87, 88, 90, 0.575), rgba(87,88,90, 0.575)), url(../css/images/chip.JPG);
    background-image: linear-gradient(rgba(87, 88, 90, 0.575), rgba(87, 88, 90, 0.575)), url(../css/images/chip.JPG);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-attachment: scroll;
}

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}

.nav-link {
    padding: 1.3rem 1.5rem;
}

.navbar-dark .navbar-brand {
    color: #00c1f7
}

.navbar-dark .navbar-nav .nav-link {
    color: #00c1f7
}

.nav-logo {
    height: 75px;
}

#map {
    height: 400px;
    width: 740px;
}

